
.gold {
  font-family: 'Bitter', serif;
  margin-top: 40px;
  margin-left: 30px;
  color: #555555;
  font-size: 22px;
}

.silver {
  font-family: 'Bitter', serif;
  margin-top: 70px;
  margin-left: 30px;
  color: #555555;
  font-size: 22px;
}

.col-1 {
  margin-right: 40px;
}

h4 {
  font-family: 'Bitter', serif;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #555555;
}



html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: white;
  margin-bottom: 50px;

}

#big_gold_separator {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(255, 215, 0, 0), rgba(255, 215, 0, 0.75), rgba(0, 0, 0, 0));
}

#big_silver_separator {
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, rgba(192, 192, 192, 0), rgba(192, 192, 192, 0.75), rgba(0, 0, 0, 0));
}

#small_separator {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  height: 1px;
  background-color: gold;
}

#silver_separator {
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0;
  height: 2px;
  background-color: silver;
}

.photo {
  width: 64px;
  height: 64px;
}

.bigphoto {
  position: absolute;
  width: 0px;
  -webkit-transition:width 0.3s linear 0s;
  transition:width 0.3s linear 0s;
  z-index: 10
}

.photo:hover + .bigphoto {
  width: 256px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 20px;
  color: #555555;
}

.main {
  margin-bottom: 100px;
}

#title {
  font-family: 'Ewert', cursive;
  font-size: 40px;
  text-align: center;
  color: gold;
}

#contact_icons {
  margin: auto;
  width: 158px;
  height: 48px;
}

.contact_icon {
  width: 32px;
  height: 32px;
  margin: 8px;
}

.contact_icon:hover {
  transform: scale(1.1); 
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}




@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-50px * 7));
            transform: translateX(calc(-50px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-50px * 10));
            transform: translateX(calc(-50px * 10));
  }
}
.slider {
  background: white;
  height: 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 320px;
}
.slider::before, .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 50px;
  position: absolute;
  width: 50px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider .slide-track {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(50px * 20);
}
.slider .slide {
  height: 50px;
  width: 50px;
}

.slide > img {
  width: 50px;
  height: 50px;
}